[submodule "extern/cppzmq"]
	path = extern/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "extern/stduuid"]
	path = extern/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "extern/toml11"]
	path = extern/toml11
	url = git@github.com:ToruNiina/toml11.git
[submodule "extern/cereal"]
	path = extern/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "extern/cli11"]
	path = extern/cli11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "extern/mongo-cxx-driver"]
	path = extern/mongo-cxx-driver
	url = git@github.com:mongodb/mongo-cxx-driver.git
