{
    "start" : "                                            <tr class=\"w-full bg-gray-100 text-gray-900\">",
    "nl-start" : true,
    "end" : "                                            </tr>",
    "nl-end" : true
}