body {
  background-color: white;
  color: black;
}

.bg-login {
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-position: center;
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}